*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.grid{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 2px solid gray;
}

.show-piece-text{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
    font-size: 3vmin;
}

.grid div{
    width: 70px;
    height: 70px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white{
    background-color: #f0d9b5;
}

.black{
    background-color: rgb(172, 99, 5);
    /* background-color: turquoise; */
}

.possible-square div{
    position: absolute;
    top: 42.25%;
    left: 42.25%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: hotpink;
    display: block !important;
}

.piece{
    width: 50%;
    height: 50%;
    margin: auto;
}

.piece-box-click{
    background-color: greenyellow;
}

.check{
    background-color: coral;
}

.menu{
    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    background: cornsilk;
    /* background-color: black; */
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    color: dodgerblue;
}

.menu button{
    padding: 15px 20px;
    border: none;
    background-color: inherit;
    /* color: darkgray; */
    color: black;
    border-radius: 5px;
    font-size: 18px;
}

.menu li{
    list-style-type: none;
    margin: auto;
}

.menu li ul button:hover{
    cursor: pointer;
}

.menu ul:hover button{
    background-color: turquoise;
}

.menu button:active{
    background-color: turquoise;
}


@media screen and (min-width: 360px) and (max-width : 420px) {
    .grid{
        width: 350px;
        height: 350px;
    }
    
    .grid div{
        width: 12.5%;
        height: 12.5%;
    }   
    
    .piece{
        width: 65%;
        height: 65%;
        margin: auto;
    }
}

@media screen and (min-width: 421px) and (max-width : 500px) {
    .grid{
        width: 410px;
        height: 410px;
    }
    
    .grid div{
        width: 12.5%;
        height: 12.5%;
    }   
   
    .piece{
        width: 62.5%;
        height: 62.5%;
        margin: auto;
    }
}


@media screen and (min-width: 501px) and (max-width : 540px) {
    .grid{
        width: 500px;
        height: 500px;
    }
    
    .grid div{
        width: 12.5%;
        height: 12.5%;
    }   
       
    .piece{
        width: 60%;
        height: 60%;
        margin: auto;
    }
}
